<div id="hero" class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="pt-4" style="text-align: justify;">
                {{ 'HERO.welcome' | translate }}
            </p>
            <p style="text-align: justify;">
                {{ 'HERO.specialize' | translate }}
            </p>
            <p>
                {{ 'HERO.skills' | translate }}:
                <li>HTML5</li>
                <li>CSS</li>
                <li>IONIC</li>
                <li>ANGULAR</li>
                <li>JAVASCRIPT</li>
                <li>{{ 'HERO.english' | translate }}</li>

            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <img width="100%" class="object-fit-fill" src="/assets/DSC02393.JPG" alt>
        </div>
    </div>
</div>
