<!-- Navbar & Hero Start -->
<div id="home">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top px-4 px-lg-5 py-3 py-lg-0">
        <a class="navbar-brand p-0">
            <h2 class="m-0">Portfolio</h2>
        </a>
          
        <button style="border-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <i class="pi pi-bars" style="font-size: 18px; color: white;"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="#home" class="nav-item nav-link">{{ 'NAVBAR.home' | translate }}</a>
                <a href="#projects" class="nav-item nav-link">{{ 'NAVBAR.projects' | translate }}</a>
                <a href="#partners" class="nav-item nav-link">{{ 'NAVBAR.partners' | translate }}</a>
                <a href="#contact" class="nav-item nav-link">{{ 'NAVBAR.contact' | translate }}</a>
                <a (click)="op.toggle($event)" class="nav-item nav-link" style="cursor: pointer;"><i class="pi pi-language"></i> {{ 'NAVBAR.language' | translate }}</a>  
                <p-overlayPanel #op>
                    <div class="p-2">
                        <button (click)="setLanguage('en')" style="width: 150px;" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">{{ 'NAVBAR.english' |
                            translate }}</button>
                    </div>
                    <div class="p-2">
                        <button (click)="setLanguage('es')" style="width: 150px;" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">{{ 'NAVBAR.spanish' |
                            translate }}</button>
                    </div>
                </p-overlayPanel>
               
            </div>
         
        </div>
    </nav>
 
</div>

<!-- Navbar & Hero End -->
