<div style="background: transparent; border: 0;" class="card flex justify-content-center">
    <p-overlayPanel #op>
        <div class="p-2">
            <button (click)="setLanguage('en')" style="width: 100px;" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">{{ 'NAVBAR.english' |
                translate }}</button>
        </div>
        <div class="p-2">
            <button (click)="setLanguage('es')" style="width: 100px;" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">{{ 'NAVBAR.spanish' |
                translate }}</button>
        </div>
    </p-overlayPanel>
    <button class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block" (click)="op.toggle($event)">{{
        'NAVBAR.language' | translate }}</button>
</div>


<!-- <div popover id="my-popover">
 
        <div class="p-2">
            <button (click)="setLanguage('en')" style="width: 100px;" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">{{ 'NAVBAR.english' |
                translate }}</button>
        </div>
        <div class="p-2">
            <button (click)="setLanguage('es')" style="width: 100px;" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">{{ 'NAVBAR.spanish' |
                translate }}</button>
        </div>

  
</div> -->

<!-- <div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <p-button (click)="confirm($event)" icon="pi pi-check" label="Confirm"></p-button>
</div> -->
